

 
 @font-face 
 {font-family: 'Bonfire Free';
  src: url("/My Codes/My Codes001/New Designs Codes/CSS/Extracted Fonts/Bonfire Free.ttf") format('truetype');
  }

 @font-face 
 {font-family: 'Bregoria Signature';
  src: url("/My Codes/My Codes001/New Designs Codes/CSS/Extracted Fonts/Bregoria Signature.ttf") format('truetype');
  }
  
 @font-face 
 {font-family: 'GUNECTRIAL-Regular';
  src: url("/My Codes/My Codes001/New Designs Codes/CSS/Extracted Fonts/GUNECTRIAL-Regular.ttf") format('truetype');
  }

 @font-face 
 {font-family: 'GUNECTRIAL-Variation';
  src: url("/My Codes/My Codes001/New Designs Codes/CSS/Extracted Fonts/GUNECTRIAL-Variation.ttf") format('truetype');
  }

 @font-face 
 {font-family: 'KFGQPC Uthman Taha Naskh Regular';
  src: url("/My Codes/My Codes001/New Designs Codes/CSS/Extracted Fonts/KFGQPC Uthman Taha Naskh Regular.ttf") format('truetype');
  }

  
 @font-face 
 {font-family: 'Khalifa';
  src: url("/My Codes/My Codes001/New Designs Codes/CSS/Extracted Fonts/Khalifa.ttf") format('truetype');
  }